<div style="font-size: 17px;margin-top: 5px;margin-left: 5px;margin-right: 5px;text-align: center;">
  上一次更新: 2026年4月24日
</div>
<div style="font-size: 17px;margin-top: 5px;margin-left: 5px;margin-right: 5px;text-align: center;">
  <span>友情链接:</span>
  <span>
    <a target="_blank" rel="noopener" title="A-SOUL导航" href="https://nav.asoul.us.kg">
      A-SOUL导航
    </a>
    <a target="_blank" rel="noopener" title="枝江日程表" href="https://asoul.love">
      枝江日程表
    </a>
    <a target="_blank" rel="noopener" title="枝江数据可视化平台" href="http://zhijiang.site">
      枝江数据可视化平台
    </a>
    <a target="_blank" rel="noopener" title="A-SOUL录音棚" href="https://studio.asoul.us.kg">
      A-SOUL录音棚
    </a>
  </div>
</div>
<div style="font-size: 17px;margin-top: 5px;margin-left: 5px;margin-right: 5px;text-align: center;">
  意见或建议请发送邮件至<a href="mailto:urlyy0201@gmail.com">urlyy0201@gmail.com</a>，也欢迎直接在Github仓库内提交Issue或PR。
</div>