<div style="font-size: 17px;margin-top: 5px;margin-left: 5px;margin-right: 5px;text-align: center;">
  上一次更新: 2026年5月20日
</div>
<div style="font-size: 17px;margin-top: 5px;margin-left: 5px;margin-right: 5px;text-align: center;">
  <span>友情链接:</span>
  <span>
    <a target="_blank" rel="noopener" title="A-SOUL导航" href="https://nav.asoul.us.kg">
      A-SOUL导航
    </a>
    <a target="_blank" rel="noopener" title="枝江日程表" href="https://asoul.love">
      枝江日程表
    </a>
    <a target="_blank" rel="noopener" title="枝江数据可视化平台" href="http://zhijiang.site">
      枝江数据可视化平台
    </a>
    <a target="_blank" rel="noopener" title="A-SOUL录音棚" href="https://studio.asoul.us.kg">
      A-SOUL录音棚
    </a>
  </div>
</div>
<div style="font-size: 17px;margin-top: 5px;margin-left: 5px;margin-right: 5px;text-align: center;">
  意见或建议或三视图成品请发送邮件至<a href="mailto:urlyy0201@gmail.com">urlyy0201@gmail.com</a>，或者私信我的bilibili账号(UID:<a target="_blank" rel="noopener" href="https://space.bilibili.com/36733462">36733462</a>)<br/>
</div>
<div style="font-size: 17px;margin-top: 5px;margin-left: 5px;margin-right: 5px;text-align: center;">
  本站及站内所有图片均可免费使用，无需标注来源或@作者，欢迎随意取用
</div>
<div style="font-size: 17px;margin-top: 5px;margin-left: 5px;margin-right: 5px;text-align: center;">
  受产能与生图模型限制，三视图与原始模型可能存在细节差异<br/>
  因背对视角素材较难获取，只有极少数做了后视图<br/>
  部分还原度度较低的图片会不定期重制优化<br/>
  如有不便，敬请谅解，欢迎随时联系反馈<br/>
</div>
<div style="font-size: 17px;margin-top: 5px;margin-left: 5px;margin-right: 5px;text-align: center;">
  ps: nano-banana的参考一致性更好但图片偏白，gpt-image-2的参考一致性偏差、色调偏灰暗但图片质感更接近直播里的状态。
</div>